@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.leaflet-popup-close-button {
  top: 0.5rem !important;
  right: 0.5rem !important;
}
